body{
    margin: 0%;
}

.top-container {
    background-image: url('./img/hero.jpg');
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.top-container h1{
    color: rgb(6, 219, 88);
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
}

.text {
    margin: 50px 5%;
    font-family: sans-serif;
}

.navbar {
    display: flex;
    position: fixed;
    background-color: white;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(245, 240, 240, 0.3);
    transition: background-color 0.4s;
}

.navbar ul{
    display: flex;
    list-style-type: none;
    height: 100%;
}

.navbar .logo-img{
    width: 100px;
    padding: 10px;
}

.navbar ul li a{
    text-decoration: none;
    margin: 0 10px;
    color: black;
    font-family: cursive;
    
}

.navbar ul li a:hover {
    color: red;
}

.navbar.active {
    background-color: black;
}

.navbar.active ul li a{
    color: white;
}